# Node
node_modules/
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local Environment & Temp DB
*.log
